
  // Ajuste para android
  ion-tab-bar {
    margin-top: 3.5em; // Ajusta este valor según la altura de la imagen 
    background-color: #fbfbfb;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 10px;
    justify-content: space-around;
  }

/*
// Ajuste para ios
ion-tab-bar {
  margin-top: 6em; // Ajusta este valor según la altura de la imagen
  background-color: #fbfbfb;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  padding-bottom: 10px;
  justify-content: space-around;
}
*/

/* Estilo de los botones en el tab bar */
ion-tab-button {
  flex: 1;
  background-color: #fbfbfb;
  transition: transform 0.2s ease;
  --ripple-color: transparent;
  --color-selected: #3880ff;
  --color: #8e8e93;
}

/* Agranda ligeramente el botón seleccionado */
ion-tab-button.tab-selected {
  transform: scale(1.2);
}
