<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="bioGlossari" routerLink="/tabs/bioGlossari">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>BioGlossari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bioQuestionari" routerLink="/tabs/bioQuestionari">
      <ion-icon name="checkbox-outline"></ion-icon>
      <ion-label>BioQüestionari</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bioVideos" routerLink="/tabs/bioVideos">
      <ion-icon name="play-outline"></ion-icon>
      <ion-label>BioVídeos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bioPreguntes" routerLink="/tabs/bioPreguntes">
      <ion-icon name="help"></ion-icon>
      <ion-label>BioPreguntes</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
