<ion-header *ngIf="!iframeUrl">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>BioGlossari: {{ palabraTitulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!iframeUrl" padding>
  <!-- Título con autoría en pequeño -->
  <h1 class="titulo-paraula" *ngIf="palabraData">
    {{ palabraTitulo }}
  </h1>
  <div class="autor-genero" *ngIf="palabraData?.autoriaf || palabraData?.gen">
    <span *ngIf="palabraData?.autoriaf" class="autor">{{ palabraData.autoriaf }}</span>
    <span *ngIf="palabraData?.gen" class="genero">({{ palabraData.gen }})</span>
  </div>

  <!-- Línea de separación -->
  <hr>

  <!-- Definición -->
  <p id="definicion" *ngIf="palabraData">
    {{ palabraData.def }}
  </p>

  <!-- Imagen con visualizador si existe -->
  <div *ngIf="palabraData?.img" class="image-container">
    <img
      id="img"
      [src]="'http://bioaps.uv.es/site/assets/files/' + palabraData.id + '/' + palabraData.img"
      alt="Imagen de {{ palabraData.paraula }}"
    >
  </div>

  <!-- Referencia a término relacionado -->
  <div 
  *ngIf="palabraData?.txten && esConsultaRelacionadaCompleta && esTerminoRelacionadoValido" 
  class="redireccion-container">
    <p>{{ textoRelacionado }}</p>

    <!-- Mostrar botón si el término relacionado está disponible -->
    <button 
    class="custom-button"
    *ngIf="esTerminoRelacionadoDisponible && esTerminoRelacionadoValido && esConsultaRelacionadaCompleta"
    (click)="redirigirATerminoRelacionado()">
      <ion-icon name="link-outline" slot="start"></ion-icon>
      Veure {{ terminoCapitalizado }}
    </button>

    <!-- Mostrar mensaje de ayuda si no hay término relacionado -->
    <p *ngIf="!esTerminoRelacionadoDisponible" class="mensaje-ayuda">
      Busque "{{ terminoCapitalizado }}" o un terme semblant en el cercador manualment.
    </p>
  </div>
</ion-content>

<!-- Contenedor del iframe para mostrar el enlace de Viquipèdia -->
<div *ngIf="iframeUrl" class="iframe-container">
  <div class="iframe-header">
    <ion-button (click)="cerrarIframe()" fill="clear">
      <ion-icon name="arrow-back" slot="start"></ion-icon>
      Tornar
    </ion-button>
  </div>
  <iframe [src]="iframeUrl" class="iframe-content"></iframe>
</div>

<!-- Botones de enlaces a DNV, Enciclopèdia y Viquipèdia -->
<ion-footer *ngIf="!iframeUrl">
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          expand="block" color="danger" *ngIf="palabraData?.dnv" size="small"
          [hidden]="!palabraData?.dnv" (click)="abrirEnlaceDNV()">DNV
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          expand="block" color="warning" *ngIf="palabraData?.encic" size="small"
          [hidden]="!palabraData?.encic" (click)="abrirEnlaceEnciclopedia()">Enciclop&egrave;dia
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button 
          expand="block" color="primary" *ngIf="palabraData?.viqui" size="small" 
          [hidden]="!palabraData?.viqui" (click)="abrirIframeViquipedia()">Viquip&egrave;dia
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
