/* Ajustes para ion-toolbar */
ion-header {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-toolbar {
  --background: #f8f9fa;
}

ion-title {
  color: #000;
  font-size: 19px;
  font-family: system-ui, 
               -apple-system, 
               BlinkMacSystemFont, 
               'Segoe UI', 
               Roboto, 
               Oxygen, 
               Ubuntu, 
               Cantarell, 
               'Open Sans', 
               'Helvetica Neue', 
               sans-serif;
  padding-bottom: 2px;
}

/* Botón de regreso */
ion-button {
  --background: transparent;
  --background-hover-opacity: 0;
  --color: #333;
  font-size: 20px;
}

/* Ajuste de fondo para el contenido */
ion-content {
  --background: #f9f9f9;
}

/* Título del término */
.titulo-paraula {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 0.3em; /* Separación con autor y género */
  margin-top: 1em; /* Separación con el header */
}

/* Contenedor para autor y género en una línea debajo del título */
.autor-genero {
  text-align: center;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 1em; /* Separación con el contenido siguiente */
}

/* Estilo para el autor */
.autor {
  color: #666;
}

/* Estilo para el género, al lado del autor */
.genero {
  color: #999;
  margin-left: 0.3em; /* Espacio entre autor y género */
}

/* Estilos para la definición */
#definicion {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
  margin-top: 1em;
  margin-bottom: 1.5em;
  text-align: justify;
  padding: 0 2em;
  word-spacing: -1px;
}

/* Contenedor de la imagen */
.image-container {
  display: flex;
  justify-content: center;
  margin: 1.6em 0;

  img {
    max-width: 85%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  }
}

/* Contenedor de la redirección a término relacionado */
.redireccion-container {
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 8px;
  text-align: center;

  /* Texto de referencia */
  p {
    font-size: 1.3em;
    color: #242424;
    margin-bottom: 1.5em;
  }
}

/* Botón de redirección */
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em 1em;
  font-size: 1.3em;
  color: #333;
  background-color: rgb(172, 255, 211);
  border: 2px solid black;
  cursor: pointer;
  border-radius: 8px;
  font-weight: bold;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  max-width: 350px; /* Limita el ancho máximo del botón */
  margin: 0 auto;
  margin-top: 2px;
  transition: background-color 0.3s, color 0.3s;

  ion-icon {
    font-size: 1.3em;
    margin-right: 0.5em;
  }

  /* Efecto hover */
  &:hover {
    background-color: #333;
    color: white;
  }
}

/* Estilo para el mensaje de ayuda */
.mensaje-ayuda {
  font-size: 0.9em;
  color: #555; /* Color gris oscuro */
  background-color: #f1f1f1; /* Fondo gris claro */
  border: 1px solid #ddd; /* Borde ligero para resaltar */
  border-radius: 6px;
  padding: 0.5em;
  text-align: center;
  max-width: 300px;
  margin: 1em auto 0; /* Centra el mensaje y da espacio arriba */
  font-style: italic; /* Estilo cursivo para un tono de "sugerencia" */
  margin-top: 35px;
}

/* Estilos para el iframe */
.iframe-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.iframe-header {
  background-color: #fca311; /* Fondo amarillo */
  text-align: left; /* Alinea el botón hacia la izquierda */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.iframe-header ion-button {
  font-size: 21px;
  font-weight: bold;
  color: #000; /* Texto en negro */
  --background-hover-opacity: 0;
}

.iframe-content {
  width: 100%;
  height: 100%;
  border: none;
}

/* Estilos para el footer */
ion-footer ion-col {
  padding: 0; /* Elimina el padding dentro de cada columna */
}

