<ion-content class="ion-padding">
  <!-- Contenedor de imagen de BioGlossariApp con padding superior -->
  <div class="logo-container">
    <img ngOptimizedImage src="assets/imgs/bioglossariaps.png" alt="Logo BioGlossariApp" class="logo-bioglossariapp">
  </div>
  
  <!-- Contenedor de imagen de Universitat de Valencia con padding superior -->
  <div class="logo-container">
    <img ngOptimizedImage src="assets/imgs/uvimg.png" alt="Logo UV" class="logo-uv">
  </div>

  <!-- Contenedor para el texto introductorio desde listaTexto -->
  <div class="intro-text-container">
    <ng-container *ngFor="let texto of listaTexto">
      <span *ngIf="texto.localizacion == 'app_bioglossari_inici'">
        {{ texto.texto }}
      </span>
    </ng-container>
  </div>

  <!-- Barra de búsqueda y botón de búsqueda -->
  <ion-searchbar
  [(ngModel)]="terminoBusqueda" 
  placeholder="Introduir terme biol&ograve;gic..." 
  class="search-bar"
  (keydown.enter)="buscarTerminos()"
  (ionClear)="limpiarBusqueda()">
  </ion-searchbar>
  <ion-button expand="full" (click)="buscarTerminos()" class="search-button">Buscar</ion-button>

  <!-- Mensaje de error si ocurre algún problema al cargar datos -->
  <div *ngIf="mensajeError" class="error-message">
    {{ mensajeError }}
  </div>

  <!-- Lista de resultados de términos filtrados, solo visible si hay términos filtrados -->
  <ion-list *ngIf="terminosFiltrados.length > 0">
    <ion-item *ngFor="let item of terminosFiltrados" (click)="navegarAGlossariDef(item)">
      {{ item.paraula }}
    </ion-item>
  </ion-list>
</ion-content>
