/* Estilos generales */
ion-content {
    --background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
/* Contenedor de las imágenes principales */
.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilo para la imagen de BioGlossariApp */
.logo-bioglossariapp {
    margin-top: 15px;
    max-width: 75%; /* Ajusta este valor según lo desees */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilo para la imagen de Universitat de Valencia */
.logo-uv {
    max-width: 75%; /* Ajusta este valor según lo desees */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos para el ion-searchbar */
.search-bar {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --background: #e5ffec;
    --color: #333;
}

/* Estilo para el botón de búsqueda */
.search-button {
    width: 100%;
    border-radius: 8px;
    --background: #3880ff;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* Contenedor del texto introductorio */
.intro-text-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
    font-weight: bold; /* Aplica negrita */
    font-size: 1.1rem; /* Aumenta ligeramente el tamaño de la fuente para mayor legibilidad */
    color: #333; /* Color oscuro para contraste */
    margin: 15px 20px; /* Espacio alrededor del contenedor */
}

/* Estilo para el ion-list */
ion-list {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-top: 15px;
}

/* Estilo para los elementos de la lista */
ion-item {
    width: 100%;
    font-size: 1rem;
    color: #333;
    padding: 12px 16px;
    --background: transparent;
    border: none; /* Elimina la línea divisoria */
    cursor: pointer; /* Cambia el cursor a una "manita" */
    transition: background 0.3s ease;
}

/* Efecto hover para que resalte cuando el usuario pase el cursor */
ion-item:hover {
    background-color: #e8f0fe; /* Color de fondo suave al hacer hover */
}
  
  
  