/* Estilo para el logo en el encabezado */
.logo-image {
  height: 50px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

/* Ajustes para el ion-header */
ion-header {
  box-shadow: none;
  --background: #fbfbfb;
}

/* Ajustes para el ion-toolbar */
ion-toolbar {
  --background: #fbfbfb;
  padding-bottom: 4px;
}

.header-principal {
  margin-bottom: 7em;
}