<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ cuestionarioData?.title || cuestionarioData?.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Mostrar siempre el temporizador -->
  <div class="timer-fixed" *ngIf="mostrarTimer">
    Temps restant: {{ tiempoRestante }}
  </div>

  <!-- Mostrar el título del cuestionario y botón de inicio antes de comenzar -->
  <div *ngIf="!cuestionarioIniciado">

    <!-- Mostrar Título si aplica -->
    <ion-card *ngIf="cuestionarioData?.titulo" class="titulo-card">
      <ion-card-header>
        <ion-card-title>Q&uuml;estionari: {{ cuestionarioData.titulo }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <!-- Mostrar detalles del video en modo tarjeta (si aplica) -->
    <ion-card
    *ngIf="cuestionarioData?.enllac && cuestionarioData?.image && cuestionarioData?.id" 
    (click)="abrirVideo()" 
    class="video-card">
      <ion-img 
        [src]="'http://bioaps.uv.es/site/assets/files/' + cuestionarioData.id + '/' + cuestionarioData.image" 
        alt="Imagen del Video">
      </ion-img>
      <ion-card-header>
        <ion-card-title>{{ cuestionarioData.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="ver-video">Veure v&iacute;deo</p>
      </ion-card-content>
    </ion-card>

    <!-- Botón para iniciar el cuestionario -->
    <ion-button expand="block" color="secondary" (click)="iniciarCuestionario()">
      Iniciar Q&uuml;estionari
    </ion-button>
  </div>

  <!-- Preguntas del cuestionario (visible solo cuando se ha iniciado el cuestionario) -->
  <div *ngIf="cuestionarioIniciado" class="div-principal">
    <ion-list *ngIf="preguntas.length > 0">
      <ion-item *ngFor="let pregunta of preguntas; let i = index">
        <ion-card class="preguntas-card">
        <img *ngIf="pregunta.image" [src]="'http://bioaps.uv.es/site/assets/files/' + pregunta.id + '/' + pregunta.image" alt="Imagen de la pregunta" />
          <ion-card-header>
            <ion-card-title>{{ i + 1 }}. {{ pregunta.pregunta }}</ion-card-title>
            <ion-card-subtitle>{{ pregunta.punt }} punts</ion-card-subtitle>
          </ion-card-header>

          <div *ngIf="esPreguntaDeTexto(pregunta)">
            <ion-item [color]="mostrarRespuestas ? (esRespuestaCorrecta(pregunta, respuestas[i]) ? 'success' : 'danger') : ''">
              <ion-label position="stacked">Resposta:</ion-label>
              <ion-input [(ngModel)]="respuestas[i]" placeholder="Escriu la resposta aquí"></ion-input>
            </ion-item>
          
            <!-- Mostrar la respuesta correcta con fondo verde si es incorrecta -->
            <ion-item *ngIf="mostrarRespuestas && !esRespuestaCorrecta(pregunta, respuestas[i])" class="mostrar-respuesta">
              <ion-label>Resposta correcta: {{ pregunta.correcta }}</ion-label>
            </ion-item>
          </div>
          

          <!-- Opciones de selección (para preguntas con opciones) -->
          <ion-radio-group *ngIf="!esPreguntaDeTexto(pregunta)" (ionChange)="seleccionarRespuesta(i, $event.detail.value)">
            <!-- Opción 1 -->
            <ion-item 
              *ngIf="pregunta.op1 !== 'nohay'"
              [color]="mostrarRespuestas 
              ? (respuestas[i] === pregunta.op1 ? (esRespuestaCorrecta(pregunta, pregunta.op1) ? 'success' : 'danger') : '') : ''">
              <ion-label>{{ pregunta.op1 }}</ion-label>
              <ion-radio value="{{ pregunta.op1 }}"></ion-radio>
            </ion-item>
          
            <!-- Opción 2 -->
            <ion-item 
              *ngIf="pregunta.op2 !== 'nohay'"
              [color]="mostrarRespuestas 
              ? (respuestas[i] === pregunta.op2 ? (esRespuestaCorrecta(pregunta, pregunta.op2) ? 'success' : 'danger') : '') : ''">
              <ion-label>{{ pregunta.op2 }}</ion-label>
              <ion-radio value="{{ pregunta.op2 }}"></ion-radio>
            </ion-item>
          
            <!-- Opción 3 -->
            <ion-item 
              *ngIf="pregunta.op3 !== 'nohay'"
              [color]="mostrarRespuestas 
              ? (respuestas[i] === pregunta.op3 ? (esRespuestaCorrecta(pregunta, pregunta.op3) ? 'success' : 'danger') : '') : ''">
              <ion-label>{{ pregunta.op3 }}</ion-label>
              <ion-radio value="{{ pregunta.op3 }}"></ion-radio>
            </ion-item>
          
            <!-- Opción 4 -->
            <ion-item 
              *ngIf="pregunta.op4 !== 'nohay'"
              [color]="mostrarRespuestas
              ? (respuestas[i] === pregunta.op4 ? (esRespuestaCorrecta(pregunta, pregunta.op4) ? 'success' : 'danger') : '') : ''">
              <ion-label>{{ pregunta.op4 }}</ion-label>
              <ion-radio value="{{ pregunta.op4 }}"></ion-radio>
            </ion-item>
          
            <!-- Mostrar respuesta correcta si el usuario falla -->
            <ion-item 
            *ngIf="mostrarRespuestas && !esRespuestaCorrecta(pregunta, respuestas[i])"
            class="mostrar-respuesta">
              <ion-label>Resposta correcta: {{ pregunta.correcta }}</ion-label>
            </ion-item>
          </ion-radio-group>
          
        </ion-card>
      </ion-item>
    </ion-list>

    <!-- Botón para finalizar el cuestionario -->
    <ion-button expand="block" (click)="finalizarCuestionario()" color="secondary">Acabar Qüestionari</ion-button>
  </div>

</ion-content>
